.subscription-container {
  margin: 48px 0px 0px 0px;

  .subscription-header {
    display: flex;
    justify-content: space-between;
  }

  .subscription-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
  }

  .subscription-pack {
    border: 1px solid rgba(#44546a, 0.46);
    border-radius: 6px;
    padding: 12px 13px 24px 13px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    height: 263px;

    h5 {
      font-size: 20px;
      font-family: $montserrat-500;
      background: rgba(180, 197, 228, 0.5);
      border-radius: 6px 6px 0 0;
      padding: 13px 0 12px 0;
      margin-bottom: 25px;
    }

    .subscription-price {
      font-size: 20px;
      font-family: $helvetica-medium;
      color: #0f1b2b;

      .promo {
        display: inline-flex;
        color: #40659e;
        margin-right: 5px;
      }

      span {
        font-size: 14px;
        font-family: $helvetica-regular;
        opacity: 0.8;
        // color: rgb(180, 197, 228);
      }
    }
    label {
      margin-top: 15px;
      font-size: 14px;
      font-family: $helvetica-regular;
      color: inherit;
      opacity: 0.8;
      // color: rgb(180, 197, 228);
    }

    button {
      margin: auto 10px 0 10px;
      white-space: nowrap;
    }
    .btn-primary-outline {
      width: auto;
    }
  }
}
.subscription-mt {
  margin: 48px 0px 0px 0px;
  h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #0f1b2b;
    font-family: $montserrat-500;
    font-size: 20px;
  }
}

.radion-ui {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 15px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 15px 0px;
  span {
    font-size: 14px;
    color: #9a9a9a;
    font-family: "webfontregular";
    font-size: 14px;
    color: #9a9a9a;
    font-family: "webfontregular";
    // &:last-child {
    // 	margin-left: 10px;
    // }
  }

  .form-control {
    background: #ffffff;
    border: 1px solid rgba(15, 27, 43, 0.4) !important;
    border-radius: 4px;
    height: 32px;
    width: 78px;
    font-size: 14px;
    color: slategray;
    font-family: "webfontregular";
    background: #ffffff;
    border: 1px solid rgba(154, 154, 154, 0.5);
    border-radius: 4px;
    height: 32px;
    width: 78px;
    font-size: 14px;
    color: slategray;
    font-family: "webfontregular";
    background: #ffffff;
    border: 1px solid rgba(154, 154, 154, 0.5);
    border-radius: 4px;
    height: 32px;
    width: 78px;
    font-size: 14px;
    color: slategray;
    font-family: "webfontregular";
  }
  [type="radio"] {
    &:checked {
      position: absolute;
      left: -9999px;
      position: absolute;
      left: -9999px;
      + {
        label {
          position: relative;
          padding-left: 28px;
          cursor: pointer;
          line-height: 20px;
          display: inline-block;
          color: #666;
          top: -6px;
          position: relative;
          padding-left: 28px;
          cursor: pointer;
          line-height: 20px;
          display: inline-block;
          color: #666;
          top: -6px;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #1189d6;
            border-radius: 100%;
            background: #fff;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #1189d6;
            border-radius: 100%;
            background: #fff;
          }
          &:after {
            content: "";
            width: 12px;
            height: 12px;
            background: #1189d6;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
            content: "";
            width: 12px;
            height: 12px;
            background: #1189d6;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }
    }
    &:not(:checked) {
      position: absolute;
      left: -9999px;
      position: absolute;
      left: -9999px;
      + {
        label {
          position: relative;
          padding-left: 28px;
          cursor: pointer;
          line-height: 20px;
          display: inline-block;
          color: #666;
          top: -6px;
          position: relative;
          padding-left: 28px;
          cursor: pointer;
          line-height: 20px;
          display: inline-block;
          color: #666;
          top: -6px;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #1189d6;
            border-radius: 100%;
            background: #fff;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #1189d6;
            border-radius: 100%;
            background: #fff;
          }
          &:after {
            content: "";
            width: 12px;
            height: 12px;
            background: #1189d6;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
            content: "";
            width: 12px;
            height: 12px;
            background: #1189d6;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
          }
        }
      }
    }
  }
}
.vertical-tab-group {
  .checkbox-wrapper,
  .radio-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    border: 1px solid rgba(68, 84, 106, 0.4);
    padding: 9px 0px 10px 15px;
    margin-top: -1px;
    flex-direction: column;
    min-height: 40px;
  }
  .nav-pills {
    .nav-link.active {
      color: #1189d6;
      font-family: "webfontmedium";
      background-image: url(../images/caret-right-tab.svg);
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }
    .show {
      > .nav-link {
        color: #1189d6;
        font-family: "webfontmedium";
        background-image: url(../images/caret-right-tab.svg);
        background-repeat: no-repeat;
        background-position: 95% 50%;
      }
    }
  }
  .tab-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 14px;
    color: slategray;
    font-family: "webfontregular";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked {
        ~ {
          .checkmark {
            // background-color: #2196F3;
            &:after {
              display: block;
            }
          }
        }
      }
    }
    &:hover {
      input {
        ~ {
          .checkmark {
            background-color: #ccc;
          }
        }
      }
    }
    .checkmark {
      &:after {
        left: 5px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  .radio-wrapper .tab-checkbox {
    @extend .tab-checkbox;
    color: slategray;
  }
  .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid rgba(4, 19, 33, 0.6);
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
}
.view-profile-pic-wrap {
  margin: 28px 0px 0px 0px;
  display: flex;
  align-items: center;
  .profile-pic {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
    a {
      color: #9a9a9a;
      font-size: 14px;
    }
  }
  .btn-primary {
    width: 100px;
    height: 40px;
    border: 1px solid #1189d6;
    border-radius: 6px;
    background-color: transparent;
    color: #1189d6;
    margin-left: 32px;
  }
}
.subscription-wrapper {
  background: #ffffff;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  width: 100%;
  height: 100%;
  address {
    font-family: "webfontregular";
    font-size: 14px;
    color: #041321;
    line-height: 28px;
    margin-top: 17px;
  }
}
.subscription-details {
  padding: 32px 24px;
  h5 {
    color: #708090;
    font-size: 12px;
    text-transform: uppercase;
  }
  .subscription-selected-plan {
    display: flex;
    align-items: center;
    margin: 22px 0px 0px 0px;
    img {
      margin: 0px 10px 0px 0px;
    }
    span {
      font-family: "webfontmedium";
      font-size: 16px;
      color: #041321;
    }
  }
  .user-license {
    font-family: "webfontregular";
    font-size: 14px;
    margin: 16px 0px 0px 0px;
    span {
      color: #708090;
    }
  }
  .date {
    h5 {
      margin: 0px;
      padding: 0px;
      font-family: "webfontmedium";
      font-size: 14px;
      color: #041321;
      margin-top: 22px;
    }
    h6 {
      margin: 0px;
      padding: 0px;
      font-family: "webfontmedium";
      font-size: 12px;
      color: #708090;
      margin: 6px 0px 17px 0px;
    }
  }
  .card-number {
    display: flex;
    align-items: center;
    margin-top: 17px;
    img {
      margin: 0px 10px 0px 0px;
    }
    span {
      color: #708090;
      &:last-child {
        color: #041321;
      }
    }
  }
}
.features {
  font-family: "webfontmedium";
  font-size: 14px;
  color: #40659e;
  margin: 0px 0px 32px 25px;
  display: flex;
}
.contact-wrapper {
  background-color: rgba(27, 157, 239, 0.1);
  border-radius: 6px;
  height: 48px;
  width: 100%;
  margin: 0px 0px 30px 0px;
  display: flex;
  align-items: center;
  img {
    margin: 0px 17px 0px 80px;
  }
  span {
    font-family: "webfontregular";
    color: #000;
    font-size: 16px;
  }
  a {
    margin-right: 140px;
    color: #1189d6;
    font-size: 16px;
  }
}

.subscription-container {
  margin: 48px 0px 0px 0px;

  .subscription-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    h3 {
      color: #0f1b2b;
      font-family: $montserrat-500;
      font-size: 20px;
      margin: 0px;
    }
  }

  .subscription-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
  }

  .subscription-pack {
    border: 1px solid rgba(#44546a, 0.46);
    border-radius: 6px;
    padding: 12px 13px 24px 13px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    height: 263px;

    h5 {
      font-size: 20px;
      font-family: $montserrat-500;
      background: rgba(180, 197, 228, 0.5);
      border-radius: 6px 6px 0 0;
      padding: 13px 0 12px 0;
      margin-bottom: 25px;
    }

    .subscription-price {
      font-size: 20px;
      font-family: $helvetica-medium;
      color: #0f1b2b;

      .promo {
        display: inline-flex;
        color: #40659e;
        margin-right: 5px;
      }

      span {
        font-size: 14px;
        font-family: $helvetica-regular;
        opacity: 0.8;
        // color: rgb(180, 197, 228);
      }
    }
    label {
      margin-top: 15px;
      font-size: 14px;
      font-family: $helvetica-regular;
      color: inherit;
      opacity: 0.8;
      // color: rgb(180, 197, 228);
    }

    button {
      margin: auto 10px 0 10px;
      white-space: nowrap;
    }
    .btn-primary-outline {
      width: auto;
    }
  }
}
.subscription-mt {
  margin: 48px 0px 0px 0px;
  h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.subscription {
  box-shadow: inherit;
  .radion-ui,
  .sub-checkbox-container {
    .form-control {
      background: #ffffff;
      border: 1px solid rgba(154, 154, 154, 0.5);
      border-radius: 4px;
      height: 32px;
      width: 78px;
      font-size: 14px;
      color: slategray;
      font-family: "webfontregular";
    }
  }
  .checkbox-wrapper {
    display: block;
  }
  .radion-ui,
  .sub-checkbox-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 15px 0px;
    span {
      font-size: 14px;
      color: rgba(154, 154, 154, 1);
      font-family: $helvetica-regular;
      top: -8px;
    }
    span:last-child {
      // margin-left: 10px;
    }
    .form-control {
      background: #ffffff;
      border: 1px solid rgba(154, 154, 154, 0.5);
      border-radius: 4px;
      height: 32px;
      width: 78px;
      font-size: 14px;
      color: rgba(112, 128, 144, 1);
      font-family: $helvetica-regular;
      margin-right: 10px;
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
      top: -6px;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid rgba(17, 137, 214, 1);
      border-radius: 100%;
      background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      content: "";
      width: 12px;
      height: 12px;
      background: rgba(17, 137, 214, 1);
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .promo {
    margin-top: 11px;
  }
}
.price-container {
  border: 1px solid rgba(68, 84, 106, 0.5);
  border-radius: 6px;
  height: 48px;
  position: relative;
  display: flex;
  justify-content: space-between;
  .btn-subscription-con {
    width: 48%;
  }
  label {
    position: absolute;
    top: -9px;
    font-size: 12px;
    color: #708090;
    font-family: $helvetica-regular;
    background-color: #fff;
    padding: 0px 7px;
    left: 10px;
    z-index: 1;
  }
  .dropdown {
    width: 100%;
    button {
      width: 100% !important;
      float: right;
      border: none !important;
      &:hover {
        text-decoration: none;
      }
      &:focus {
        outline: none;
        box-shadow: inherit;
        text-decoration: none;
      }
    }
    .dropdown-menu-right {
      width: 100%;
      background: #fcfcfc;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
      border-radius: 0px 0px 6px 6px;
      padding: 32px 40px;
    }
    .dropdown-item {
      padding: 0px 0px 13px 0px;
      &.active {
        background-color: inherit;
        color: #0f1b2b;
        font-family: $helvetica-medium;
        font-size: 16px;
      }
      &:hover,
      &:focus {
        background-color: inherit;
        color: #708090;
        font-family: $helvetica-regular;
        font-size: 16px;
      }
    }
  }
  input,
  select {
    height: 38px;
    border: none;
    position: relative;
    top: 5px;
    &:hover,
    &:focus {
      outline: none;
    }
  }
  input {
    padding: 0px 10px 0px 40px;
    width: 48%;
  }
  select {
    width: 48%;
    float: right;
  }
  .currency-type {
    position: absolute;
    color: #708090;
    font-size: 16px;
    font-family: $helvetica-regular;
    left: 24px;
    top: 16px;
  }
  .currency-seperator {
    position: absolute;
    left: 48%;
    top: 14px;
    width: 2px;
    height: 22px;
    background-color: #708090;
  }
}
.header-price {
  font-family: $helvetica-medium;
  font-size: 20px;
  color: #0f1b2b;
  margin: 40px 0px 32px 0px;
  display: block;
}
.promo {
  margin-top: 10px;
}
