.userList-page {
    padding-right: 15px;
    padding-left: 15px;
    .breadcrump-admin {
        margin-left: 15px;
    }
    .table-custom {
        margin: 30px 0px 0px 0px;
    }
    .font-family-for-list {
        color: rgba(15, 27, 43, 1);
        margin-bottom: 6px;
    }
    .font-family-list-sub  {
        color: rgba(112, 128, 144, 1);
    }
    .btn-round {
        cursor: pointer;
    }
}
.filter-dropdown .accordion .card .card-header {
    font-family: $helvetica-regular;
}
.filter-wrap .filter-dropdown .max-height-collapse {
    max-height: 198px;
}
.filter-dropdown h4 { 
    font-family: $helvetica-medium;
    padding: 24px 26px 10px;
}
.date-picker span {
    right: 35px;
    bottom: 0px;
}