@import "../../../assets/scss/cus-variables";
.container {
    overflow-y: hidden;
}
.nextBtn {
    position: absolute;
    left:  18%;
    top:45%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 0px;
    z-index: 9999;
        &::before {
            content: '';
            background-image: url(../../../assets/images/ion_chevron-forward-outline.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 15px;
        left: 14px;
        transform: rotate(180deg);
        }
}
.prevBtn {
    position: absolute;
    right: 0px;
    top:45%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 0px;
    z-index: 9999;
    background-image: url(../../../assets/images/ion_chevron-forward-outline.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.table_container > * {
    // color: red;
    font-size: 16px;
    font-family: $helvetica-regular;
}
/* color all descendants red */
.table_container * {
    // color: red;
    font-size: 16px;
    font-family: $helvetica-regular;
}
.table_container {
    width: 100%;
    overflow: hidden;
    
    position: relative;


    table {
        table-layout: fixed;
        overflow-y: hidden;
        width: 100%;
        position: relative;
        border-collapse: separate;
        border-spacing: 0px;
        
        thead {
            th {
                padding-left: 71px;
                position: relative;
                z-index: 1;
                color: #104378;
                font-family: $montserrat-400;
                text-transform: uppercase;
                font-size: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:first-child {
                    padding: 0px 0px 0px 33px;
                    // border-right: 1px solid rgba(4, 19, 33, 0.07);
                    border-bottom: 0px;
                }
                img {
                    position: absolute;
                    left: 29px;
                    top: 18px;
                    width: 30px;
                    height: 20px;
                    border: 1px solid rgba(68, 84, 106, 0.6);
                }
                &:nth-child(1) {
                    z-index: 2;
                    background-color: #fff;
                }
                &:nth-child(2) {
                    z-index: 2;
                    background-color: #fff;
                }
            }
        }
        tbody {
            tr {
                &:nth-child(even) {
                    background: rgba(250,250,250,1);
                    td {
                        &:nth-child(2) {
                            background-color: rgba(250,250,250,1);
                            z-index: 2;
                        }
                    }
                }
                &:nth-child(odd) {
                    background: #f4f6f9;
                    td {
                        &:nth-child(2) {
                            background-color: #f4f6f9;
                            z-index: 2;
                        }
                    }
                }
                

            }
            td {
                padding-left: 29px;
            }
        }
        .greater,
        .lesser {
            position: absolute;
        }
        td: {
            // font-weight: normal;
        }
        th,
        td {
            padding: 15px;
            width: 194px;
            word-break: break-all;
            font-size: 16px;
            color: #0F1B2B;
            font-family: $helvetica-regular;
            border-bottom: 1px solid rgba(4, 19, 33, 0.05);
            vertical-align: baseline;
            &.small {
                width: 30px;
            }
            &.fixed {
                position: sticky;
                left: 0;
            }
            &:nth-child(2) {
                // background: tomato;
                left: 194px;
            }
            &:not(.fixed) {
                &:first-of-type {
                    background: yellow;
                }
            }
        }
        td {
            &:first-child {
                border-right: 1px solid rgba(4, 19, 33, 0.07);
                // box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
                // -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
                // -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
                background-color: #fff;
                color: #44546A;
                font-size: 16px;
                font-family: $helvetica-regular;
            }
        }
    }
}
