.rdt_TableHeadRow {
	background-color: rgba(16, 67, 120, 0.8) !important;
	/* background: rgba(#104378, 0.8); */
	height: 48px;
	font-size: 16px;
	color: #fff !important;
	/* padding: 0px 15px; */
	/* border-top-left-radius: 6px;
	border-top-right-radius: 6px; */
	font-family: "webfontmedium" !important;
}

.rdt_TableHeadRow div {
	color: #fff !important;
	font-size: 16px !important;
	font-weight: 500 !important;
}
.__rdt_custom_sort_icon__ {
	opacity: 1 !important;
	margin-left: 10px;
}
.rdt_TableCol_Sortable span {
	opacity: 1 !important;
}
.rdt_TableBody .rdt_TableRow {
	width: auto;
}

.card-list-table {
	/* border: 1px solid rgba(68, 84, 106, 0.3); */
	border: 0;
	/* border-top-right-radius: 6px; */
	/* border-top-left-radius: 6px; */
}

/* .card-list-table .rdt_TableHeadRow .rdt_TableCol:first-child {
	border: 6px 0 0 6px;
/* } */

.card-list-table .rdt_TableHeadRow {
	border-radius: 6px;
	margin-bottom: 6px;
}
.card-list-table .rdt_TableBody {
	border-top: 1px solid rgba(68, 84, 106, 0.3) !important;
	border-bottom: 1px solid rgba(68, 84, 106, 0.3) !important;
	border-left: 0;
	border-right: 0;
}

.card-list-table .rdt_TableCol:first-child {
	padding-left: 25px !important;
	border: 6px 0 0 6px;
}

.card-list-table .rdt_TableCol:first-child {
	border: 6px 0 0 6px !important;
}

.card-list-table .rdt_TableCell:first-child {
	border-left: 1px solid rgba(68, 84, 106, 0.3);
	padding-left: 40px !important;
}
.card-list-table .rdt_TableCell:last-child {
	border-right: 1px solid rgba(68, 84, 106, 0.3);
}

.card-list-table .rdt_TableCell:first-child {
	padding-left: 40px;
}

.rdt_TableCell {
	padding: 15px !important;
}
.quick-action-btn {
	background: #fdfbf7;
	box-shadow: 0px 4px 8px rgb(0 0 0, 25%);
	border-radius: 4px;
	position: absolute;
	top: 44px;
	right: 12px;
	display: flex;
	padding: 10px 12px;
	z-index: 1;
	width: auto;
}
.quick-action-btn a {
	padding: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 5px;
}
.quick-action-btn a::after {
	border-right: 1px solid rgba(154, 154, 154, 0.3);
	content: "";
	height: 20px;
	text-align: center;
	position: relative;
	left: 7px;
}
.quick-action-btn a:last-child::after {
	content: inherit !important;
}

.quick-action-btn div {
	padding: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 5px;
	cursor: pointer;
}
.quick-action-btn div::after {
	border-right: 1px solid rgba(154, 154, 154, 0.3);
	content: "";
	height: 20px;
	text-align: center;
	position: relative;
	left: 7px;
}
.quick-action-btn div:last-child::after {
	content: inherit !important;
}

.btn-round {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.btn-round:hover,
.btn-round:focus {
	background: rgba(154, 154, 154, 0.2);
}
